<div class="ftco-footer">
<div class="container mb-5 pb-4">
<div class="row">
<div class="col-lg col-md-6">
<div class="ftco-footer-widget">
<h2 class="ftco-heading-2 d-flex align-items-center">About</h2>
<p>Far far away, behind the word mountains, far from the countries.</p>
<ul class="ftco-footer-social list-unstyled mt-4">
<li><a href="#"><span class="fa fa-twitter"></span></a></li>
<li><a href="#"><span class="fa fa-facebook"></span></a></li>
<li><a href="#"><span class="fa fa-instagram"></span></a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="ftco-footer-widget">
<h2 class="ftco-heading-2">Links</h2>
<div class="d-flex">
<ul class="list-unstyled mr-md-4">
<li><a routerLink='/'><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
<li><a routerLink='/all-product'><span class="fa fa-chevron-right mr-2"></span>Products</a></li>
<li><a routerLink='/products'><span class="fa fa-chevron-right mr-2"></span>Product Listing</a></li>
<li><a routerLink='/add-product'><span class="fa fa-chevron-right mr-2"></span>Product Management</a></li>
<li><a routerLink='/contact'><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
</ul>





</div>
</div>
</div>

<div class="col-lg col-md-6">
<div class="ftco-footer-widget">
<h2 class="ftco-heading-2">Wants to reach us?</h2>
<div class="block-23 mb-3">
<ul>
<li><span class="fa fa-map-marker mr-3"></span><span class="text">No 12,Surulere Street, Ikeja, Lagos</span></li>
<li><a href="#"><span class="fa fa-phone mr-3"></span><span class="text">+234 903 0425 529</span></a></li>
<li><a href="#"><span class="fa fa-paper-plane mr-3"></span><span class="text">strongworldcollections@stg.com</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid bg-primary">
<div class="container">
<div class="row">
<div class="col-md-6 aside-stretch py-3">
<p class="mb-0">
</p>
</div>
</div>
</div>
</div>
</div>
