

<div class="py-4 top bg-dark"></div>
<nav
  class="navbar navbar-expand-lg navbar-dark ftco-navbar-light container"
  id="ftco-navbar"
>
  <a class="navbar-brand" routerLink="/">
    <span class="mr-2 text-primary"
      >Strong <br /><small>World Collections</small></span
    >
  </a>
  <div class="container d-flex align-items-center">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="fa fa-bars"></span> Menu
    </button>
    <div
      class="collapse navbar-collapse"
      id="ftco-nav"
      [ngClass]="{ show: navbarOpen }"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/all-product" class="nav-link">All Products</a>
        </li>
        <li class="nav-item">
          <a routerLink="/products" class="nav-link">Price List</a>
        </li>
        <li class="nav-item">
          <a routerLink="/add-product" class="nav-link">Product Manager</a>
        </li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
      </ul>

      <modal></modal>
      <modallogin></modallogin>
    </div>
  </div>
</nav>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
></div>
